@{
    ViewData["Title"] = "Registration Index Page";
}

<div class="text-center">
    <h1 class="display-4">Registration Index Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Sign Up Done Successfully</a>.</p>
</div>
