@{
    ViewData["Title"] = "Login Index Page";
}

<div class="text-center">
    <h1 class="display-4">Login Index Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Sign In Done Successfully</a>.</p>
</div>
